.missionbackdrop{
    // background-image: url("https://caleb5mathew.github.io/Lazeal-Frontend/missionbackdrop.png");
    // height: 300vh;
    background-image: url("https://caleb5mathew.github.io/Lazeal-Frontend/homebackdrop.png");
    width: 100vw;
    height: 100vh;
    position:fixed;

}
.Circ{
    margin-left: 50%;
    position: relative;
    width: 100vw;
    height: 100vh;
}
svg:not(:root) {
    overflow: hidden;
    margin-left: 30%;
}
.titleadj{
    margin-left: 50%;
}
// .comment1{
//     margin-top: -10%;
//     margin-right: 20%;
//     margin-left: -22%;
//     font-size: 1rem;
//     font-family: 'sofia-pro' ,sans-serif;
//     text-transform: uppercase;
//     font-weight: 200;
//     letter-spacing: 2px;
//     color: #ffffff;
// }
// .comment2{
//     margin-top: -14%;
//     margin-right: 20%;
//     margin-left: 2%;
//     font-size: 1rem;
//     font-family: 'sofia-pro' ,sans-serif;
//     text-transform: uppercase;
//     font-weight: 200;
//     letter-spacing: 2px;
//     color: #ffffff;
// }
// .comment3{
//     margin-top: -13.5%;
//     margin-right: 20%;
//     margin-left: 26%;
//     font-size: 1rem;
//     font-family: 'sofia-pro' ,sans-serif;
//     text-transform: uppercase;
//     font-weight: 200;
//     letter-spacing: 2px;
//     color: #ffffff;
// }
// .title1{
//     margin-top: 16%;
//     margin-left: -48%;

//     font-size: 2.6rem;
//     font-family: 'sofia-pro' ,sans-serif;
//     text-transform: uppercase;
//     font-weight: 200;
//     letter-spacing: 2px;
//     color: #ffffff;
// }
// .titl{
//     margin-top: 45%;
//     font-size: 2rem;
//     font-family: 'sofia-pro' ,sans-serif;
//     text-transform: uppercase;
//     font-weight: 200;
//     letter-spacing: 2px;
//     color: #ffffff;
// }
// .title2{
//     margin-top: 9%;
//     margin-left: -21%;

//     font-size: 2.7rem;
//     font-family: 'sofia-pro' ,sans-serif;
//     text-transform: uppercase;
//     font-weight: 200;
//     letter-spacing: 2px;
//     color: #ffffff;
// }
// .title3{
//     margin-top: 7%;
//     margin-left: 2%;

//     font-size: 2.7rem;
//     font-family: 'sofia-pro' ,sans-serif;
//     text-transform: uppercase;
//     font-weight: 200;
//     letter-spacing: 2px;
//     color: #ffffff;
// }
body {
    width: 1000px;
}
