.logo {
    position: relative;
    place-items: center;
    height: 2;
    font-size: 13rem;
    font-weight: 20px;
    line-height: normal;
    font-family: 'Mochiy Pop P one', sans-serif;
    color: #ffffff;
        }

.circlenumber{
    position: absolute;
    font-family: 'Mochiy Pop P one', sans-serif;
    font-size: 7rem;
    place-items: center;
    display: block;
    margin-bottom: 600px;
    margin-left: 742px;
    z-index: 3;
    margin-top: 10px;
    color: white;
    &:hover{
        position: absolute;
        font-family: 'Mochiy Pop P one', sans-serif;
        font-size: 7rem;
        place-items: center;
        display: block;
        margin-bottom: 600px;
        margin-left: 742px;
        z-index: 3;
        margin-top: 10px;
        color: rgb(24, 205, 136);
    }
}


.image1{
    height: 5vh;
    width: 25%;
    margin-left: 39%;
    margin-top: 15%;
    object-fit: cover;
    &:hover{
        height: 35%;
        width: 25%;
        margin-left: 39%;
        margin-top: 15%;
        object-fit: cover;
    }
}
